extends layout

block title
  | Checked Out Books

block content
  h1 Checked Out Books
  p
    a.button(href='/new_loan') Create New Loan
  p
    | Filters
    a(href='/all_loans') All
    |  |
    a(href='/overdue_loans') Overdue
    |  |
    a(href='/checked_loans') Checked Out
  table
    thead
      tr
        th Book
        th Patron
        th Loaned on
        th Return by
        th Returned on
        th Action
    tbody
      each unreturned_loan in unreturned_loans
        tr
          td
            a(href='/book_detail/'+unreturned_loan.Book.id) #{unreturned_loan.Book.title}
          td
            a(href='/patron_detail/'+unreturned_loan.Patron.id) #{unreturned_loan.Patron.first_name} #{unreturned_loan.Patron.last_name}
          td #{unreturned_loan.loaned_on}
          td #{unreturned_loan.return_by}
          td
          td
            a.button(href='/return_book/' + unreturned_loan.id) Return Book
