extends layout

block title
  | Return Book
 
block content 

  if error 
    h2 Ooops an error occured!
    ul
      each e in error
        li
          =e.message

  h1 Patron: Return Book 
  p
    strong Book Title: 
    | #{loan.Book.title}
  p
    strong Loaned By: 
    | #{loan.Patron.first_name} #{loan.Patron.last_name}
  p
    strong Loaned On: 
    | #{loan.loaned_on}
  p
    strong Return By: 
    | #{loan.return_by}
  form(action='/return_book/'+loan.id, method='POST') 
    p
      label(for='returned_on') Returned on:
      input#returned_on(type='text' name='returned_on' value=returned)
    p
      input(type='submit' value='Return Book')
